VITE_API_URL=https://smart-grits-fawn.vercel.app
VITE_SUPABASE_URL=https://qrirptufumtpwugbtnqz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFyaXJwdHVmdW10cHd1Z2J0bnF6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY2MTcyNDAsImV4cCI6MjEwMjE5MzI0MH0.TEWTbLC071rFkgWoc7iS-jf2ns__mcLI0-xiXXcSSWE
