SUPABASE_URL=https://qrirptufumtpwugbtnqz.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFyaXJwdHVmdW10cHd1Z2J0bnF6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NjYxNzI0MCwiZXhwIjoyMTAyMTkzMjQwfQ.cxnHmp16KL-uqIe7FMLon8NtLyuGUYw8eV6z6pqVjF4
JWT_SECRET=super_secret_jwt_key_123
ADMIN_EMAIL=info@smartgrits.com
HOSTINGER_MAIL_API_TOKEN=7e72e2cfe51485ef763aef33383930677f44aca3e8bbbeb7a94c9126f70bcd98
HOSTINGER_MAILBOX_ID=AC5bbb8f6bbafb3fab2732a6f121cd
GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbzNBKWwrE5oAGJ8AIuozkQIIUozixgeKQWGI-Gjvgerxs_ucA5EVeYmLgKL75rROWkS/exec
